* {
    margin: 0;
    padding: 0;
}

a {
    color: teal;
}

header {
    background-color: #33691e;
    height: 120px;
    width: 100%;
}
.containerm {
    display: flex;
    flex-direction: column;
}

    .containerm div {
        padding: 10px;
    }
.box1 {
    flex: 1;
    order: 1;
}

.box2 {
    flex: 1;
    order: 3;
}

.box3 {
    flex: 1;
    order: 2;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    float: center;
    text-align: center;
}

.main {
    background-color: #c5e1a5;
}

.head-text {
    line-height: 100px;
    color: tomato;
    font-size: 32px;
    font-family: SimSun, sans-serif;
}


.main li {
    list-style-type: none;
}

.main td, th {
    padding: 30px;
}

nav {
    background-color: #8bc34a;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 22px
}

.container-nav {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color: #259b24;
}

tr:nth-child(even) {
    background-color: #72d572;
}

tr:hover {
    background-color: #ba66ff;
    color: #7019c2;
}

footer {
    background-color: #33691e;
    height: 120px;
    width: 100%;
}
.podvaltext {
    font-size: 20px;
    color: tomato;
    font-family: Segoe UI Black, sans-serif;
    float: left;
    margin: 50px;
    text-align: center;
}
@media (min-width: 800px) {

    .containern li {
        display: inline;
    }

    .container {
        max-width: 960px;
    }


    nav {
        max-width: 960px;
    }

    .box1 {
        flex: 1;
        order: 1;
    }

    .box2 {
        flex: 1;
        order: 2;
    }

    .box3 {
        flex: 1;
        order: 3;
    }
}