form {
    background-color: #e0b0ff;
    padding: 70px;
    text-align: left;
    margin: auto;
    display: table;
    border-radius: 50px;
    background-image: url(ajy.jpg);
    border: 5px solid #a8ffab;
}
