form {
    background-color: #c5e1a5;
    padding: 70px;
    text-align: left;
    margin: auto;
   display: table
}
#button1{
 appearance:none;
 -webkit-appearance:none;
 padding:10px;
 border:none;
 background-color:#E96C62;
 font-weight:600;
 border-radius:5px;
 width:100%;
}
.head_1{
 width:400px; 
 text-align: center;
 font-family: Arial;
}	
#result {
 color:#E96C62;
 text-align: center;
 font-family: Arial;
 font-size: 50px;
}
p {
 font-family: Arial;
}
 body {
      background-image: url(fon.jpg);
  }
